@model IList<BlogWeb.Models.Post>

@Html.ActionLink("Novo Post", "Form")
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Titulo</th>
            <th>Data de Publicação</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model) {
            <tr>
                <td>@p.Id</td>
                <td>@p.Titulo</td>
                <td>@p.DataPublicacao</td>
                <td>@Html.ActionLink("Remover", "Remove", new { id = p.Id }, new { @class = "icon-cancel" })</td>
                <td>@Html.ActionLink("Atualizar", "Visualiza", new { id = p.Id }, new { @class = "icon-edit" })</td>
            </tr>
        }
    </tbody>
</table>